**Data Definition Language**

Data Definition Language (DDL) in SQL is a subset of SQL commands used to define, modify, and remove database objects such as tables, views, indexes, etc. DDL commands primarily deal with the structure and schema of the database. The main DDL commands include:
```
CREATE: Used to create new database objects like tables, views, indexes, etc.

ALTER: Used to modify the structure of existing database objects.

DROP: Used to remove database objects like tables, views, indexes, etc.

TRUNCATE: Used to remove all records from a table, but the table structure remains intact.

RENAME: Used to rename an existing database object.
```

<u>Create and drop </u>

This function is used to create data base or table and drop function is used to delete database or table


```

-- For DATABASE

CREATE DATABASE DATABASE_NAME;
CREATE DATABASE IF NOT EXISTS DATABASE_NAME;

DROP DATABASE DATABASE_NAME;
DROP DATABASE IF EXISTS DATABASE_NAME;
```


```

-- For TABLE

CREATE TABLE TABLE_NAME(
  column1 data_type,
  column2 data_type,
  column3 data_type,
  ------
  );

DROP TABLE TABLE_NAME;
```


First one more time we will discuss data type and constraints which will help in creating the tables...

<u>DATA TYPES</u>

1. String Data Type :
  
  - CHAR : Fixed length character string with specified length 'n'. When you define a column as CHAR(n), it will always reserve a fixed length of 'n' characters, padding with spaces if the actual data is shorter than 'n'.
  - VARCHAR : Variable length charcter string with maximum specified length 'n'. When you define a column as VARCHAR(n), it will only use the necessary amount of storage to store the actual data, without padding.
  - TEXT : Variable length character string with no maximum length specified.

2. Integer Data Type :

  - INT or INTEGER : It typically store integer with 32 bit signed integer
  - SMALLINT : It typically represents a 16-bit signed integer.
  - BIGINT : It typically store integer with 64 bit signed integer.
  - FLOAT : It is used to store the floating point values with specified precision values.It is typically represented in 32 bit.
  - REAL : It is used to store single-precision floating-point numbers.

3. Boolean Data type :    
  - BOOLEAN or BOOL: Represents true or false values.

4. DATE and Time Data Type :    
  - DATE: Date values in the format 'YYYY-MM-DD'.
  - TIME: Time values in the format 'HH:MI:SS'.
  - DATETIME or TIMESTAMP: Combined date and time values.

<u>Constraints</u>

Constraints are rules that are defined on tables or columns. This helps to that the data that goes into the table will maintain certain condition. This can be done while creating table or using alter function...


```
Not Null: It Ensures that a column cannot have a NULL value.
Unique : It Ensures that all the values in a column are unique.
Primary Key: It is a combination of a NOT NULL and UNIQUE. Uniquely identifies
each row in a table.
Foreign Key: Uniquely identifies a record /row in another table
Check:  It checks that all values in a column satisfy a specific condition
```

- NOT NULL

  - A not null constraint ensures that a column cannot contain null values. It requires that every row in the table must have a value for the specified column.
  ```
  # USING CREATE TABLE
  CREATE TABLE TABLE_NAME(
    ID INT NOT NULL,
    NAME VARCHAR(20) NOT NULL
  );
  ```
  ```
  # USING ALTER COMMAND
  ALTER TABLE TABLE_NAME
  MODIFY COLUMN_NAME DATATYPE NOT NULL;
  ```

- UNIQUE
  - This command helps maintain uniqueness of values for a particular columns..
```
CREATE TABLE person (
id int NOT NULL,
last_name varchar(255) NOT NULL,
first_name varchar(255),
age int,
UNIQUE (ID)
);
                or
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    CONSTRAINT constraint_name UNIQUE (column_name)
);
```
```
ALTER TABLE person
ADD UNIQUE(ID)
          or
ALTER TABLE table_name
ADD CONSTRAINT constraint_name UNIQUE (column_name);
```

- Primary key

  - It is a column in a table which helps to identify each column in a table.And it should not be null and it should be unique values.

  ```
  CREATE TABLE TABLE_NAME(
    ID INT PRIARY KEY,
    NAME VARCHAR(50)
  );
      or
  CREATE TABLE users (
    user_id INT,
    username VARCHAR(50),
    email VARCHAR(100),
    CONSTRAINT pk_users PRIMARY KEY (user_id)
);
    or
  ALTER TABLE TABLE_NAME(
    ADD CONSTRAINT pk_id PRIMARY KEY(ID)
  );
  ```


- Foreign Key

  - A FOREIGN KEY is used to link two tables together.The relationship between two tables matches the Primary Key in one of the tables with a Foreign Key in the second table. It can be null and it can be duplicates.

  ```
  CREATE TABLE TEACHER(
	Student_id int,
    Teacher_name varchar(50),
    subject_name varchar(50),
    foreign key (Student_id) references STUDENT(ROLL_NO)
);
OR
ALTER TABLE TEACHER
ADD FOREIGN KEY (ID) REFERENCES STUDENT(ROLL_NO);
  ```



- CHECK

  - The CHECK CONSTRAINTS is used to limit the range of value that can be placed in a column if the user defines a CHECK constraint on a single column, it allows only specific values for the column.

  ```
  CREATE TABLE Persons (
ID int NOT NULL,
LastName varchar(255) NOT NULL,
FirstName varchar(255),
Age int,
CHECK (Age>=18)
);
OR
ALTER TABLE Persons
ADD CHECK (Age >= 18)
  ```

<u>ALTER</u>

This function is used to alter the structure of the existing table. This function is able to add , modify, and delete the column.

- ALTER TABLE - ADD : keyword when you want to add a new column, constraint, or index to the table.

  ```
  ALTER TABLE customer
  ADD email varchar(25);
          or
  ALTER TABLE table_name
  ADD CONSTRAINT constraint_name constraint_definition;
  ```

- ALTER TABLE - MODIFY/ALTER COLUMN  : MODIFY when you want to change the definition of an existing column, such as its data type or nullability.

  ```
  ALTER TABLE TABLE_NAME
  MODIFY COLUMN_NAME DATATYPE;
  ```

-  ALTER TABLE- DROP COLUMN

  ```
  ALTER TABLE TABLE_NAME
  DROP COLUMN COLUNS_NAME
  or
  ALTER TABLE table_name
  DROP CONSTRAINT constraint_name;
  ```

TRUNCATE

This command is used to delete all the rows in the table and structure remains the same..
```
TRUNCATE TABLE table_name;
```

RENAME

This comand is used to reaname the column and table but its does not change its data type or its attribute.
```
ALTER TABLE table_name RENAME COLUMN old_column_name TO new_column_name
or
ALTER TABLE RENAME TO new_name;
```