<u>CASE STATEMENT</u>

In SQL, the CASE statement is a conditional expression that allows you to perform conditional logic within a query. It's commonly used to derive new values or perform calculations based on certain conditions.

```
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ...
    ELSE default_result
END
```

Here's how the CASE statement works:

1. It evaluates each condition in the order listed.
2. If a condition evaluates to true, it returns the corresponding result and exits the CASE statement.
3. If none of the conditions are true, it returns the default result specified in the ELSE clause, or NULL if no ELSE clause is provided.



EXAMPLE : Suppose we have a table called Orders with columns order_id, product_name, and quantity. We want to create a new column order_status based on the quantity of each order:

```
SELECT
    order_id,
    product_name,
    quantity,
    CASE
        WHEN quantity > 10 THEN 'High'
        WHEN quantity > 5 THEN 'Medium'
        ELSE 'Low'
    END AS order_status
FROM
    Orders;
```



EXAMPLE : Suppose we have a table called Orders with columns order_id, order_date, and completed_date. We want to calculate the time taken to complete each order, handling NULL values for incomplete orders.

```
SELECT
    order_id,
    order_date,
    completed_date,
    CASE
        WHEN completed_date IS NOT NULL THEN completed_date - order_date
        ELSE 'Order not completed'
    END AS time_taken_to_complete
FROM
    Orders;
```